@import "layout";
@import "vars";

.breadcrumbs
{
    display: flex;
    align-items: center;

    padding: $spacing 0 0;

    font-size: 14px;
    color: $muted-text-color;
    line-height: 0;

    @include layout-mobile
    {
        padding: $spacing $spacing 0;
    }

    .breadcrumb
    {
        i
        {
            margin-right: 3px;
        }

        &:not(:first-of-type)
        {
            margin-left: 3px;
        }

        &:after
        {
            content: '/';
            margin-left: 3px;
        }
    }
}