@import "vars";
@import "layout";

.error-404
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: $black-text-color;

    .message
    {
        display: flex;
        align-items: center;

        font-size: 40px;

        @include layout-mobile
        {
            font-size: 30px;
        }

        @include layout-extra-small
        {
            font-size: 27px;
            flex-direction: column;
        }

        i
        {
            margin-right: $spacing;

            @include layout-extra-small
            {
                font-size: 40px;
                margin-bottom: $spacing-smaller;
            }
        }
    }

    .return
    {
        color: $muted-text-color;
        margin-top: $spacing;
    }
}