@import "layout";
@import "vars";

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Open Sans", sans-serif;
}

body
{
    background: white;
}

ol, ul
{
    list-style-position: inside;

    li:not(:last-of-type)
    {
        margin-bottom: $spacing-small;
    }
}

a
{
    color: inherit;

    &.no-style
    {
        text-decoration: none;
    }

    &.hover-style:hover
    {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6
{
    color: $black-text-color;
}

.content
{
    //background: rgba(255, 0, 0, 0.15); // todo: debug

    @include layout-full
    {
        width: 90%;
    }

    max-width: $max-width;

    margin: 0 auto;
}

hr
{
    border: 0;
    height: 0;

    border-top: 2px solid $border-color;
    border-radius: $border-radius;
}

.footer-space
{
    height: 300px;

    @include layout-mobile
    {
        height: $spacing;
    }
}